<%= div_for(comment) do %>
  <!-- 
  The `div_for` method has been removed from Rails.
  To continue using it, add the `record_tag_helper` gem to your Gemfile:
  gem 'record_tag_helper', '~> 1.0'
  Consult the Rails upgrade guide for details.
 -->
  <div class="comments_wrapper clearfix">
    <div class="float-left">
      <p class="lead mb-0 ml-4"><%= comment.body %></p>
      <p class="mt-0 ml-5"><small>Submitted <strong><%= time_ago_in_words(comment.created_at) %> ago</strong> by <%= comment.user.name %></small></p>
    </div>
    <div class="btn-group float-right">
      <% if comment.user == current_user %>
        <%= link_to 'Delete Comment', comment, method: :delete, data: { confirm: "Are You Sure ?"}, class: "btn btn-sm btn-outline-primary mr-4 pl-4 pr-4" %>
      <% end %>
    </div>
  </div>
<% end %>