<!-- app/views/posts/show.html.erb -->
<% provide(:page_title, @post.title) %>
<% provide(:blogger, 'active') %>
<!--  -->
<%= link_to 'Edit', edit_blogger_post_path(@post), class: 'btn btn-sm btn-warning' %>
<%= link_to 'Remove', blogger_post_path(@post), class: 'btn btn-sm btn-danger', method: :delete, data:{confirm: "Are you sure ?"} %>
<!--  -->
<div class="row">
  <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
    <div class="text-center">
      <!-- Center aligned text on all viewport sizes -->
      <h1><%= @post.title %></h1>
      <p><%= @post.display_day_published %></p>
    </div>
    <div><%= @post.body.html_safe %></div>
  </div>
</div>