<div class="card">
  <div class="card-header">
    <div class="container">
      <%= link_to "Write A Review", new_movie_review_path(@movie), class: "btn btn-outline-primary" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card-block">
        <%= image_tag @movie.image.url(:medium), class: "card-img-top img-fluid" %>
        <div class="star-rating" data-score=<%= ave_stars(@movie) %>></div>
        <em><%= "#{@reviews.length} reviews"%></em>
        <div class="table-inverse table-responsive">
          <table class="table">
            <tbody>
              <tr >
                <td>Movie length:</td>
                <td><%= @movie.movie_length %></td>
              </tr>
              <tr >
                <td>Director:</td>
                <td><%= @movie.director %></td>
              </tr>
              <tr >
                <td>Rating:</td>
                <td><%= @movie.rating %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card-block pl-0 pr-5">
        <h2 class ="review-title"><%= @movie.title %></h2>
        <p><%= @movie.description %></p>
        <% if @reviews.blank? %>
          <div class="row justify-content-center mt-5 mb-3">
            <h3>Would You Like To Leave A Review ?</h3>
          </div>
          <div class="row justify-content-center">
            <%= link_to "Write Review", new_movie_review_path(@movie), class: "btn btn-outline-danger" %>
          </div>
        <% else %>
          <% @reviews.each do |review| %>
            <div class="reviews">
              <div class="star-rating" data-score=<%= review.rating %>></div>
              <p><%= review.comment %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="container">
      <%= link_to 'Back', movies_path, class: "btn btn-outline-primary" %>
      <%= link_to 'Edit', edit_movie_path(@movie), class: "btn btn-outline-danger"%>
    </div>
  </div>
</div>