<div class="card">
  <div class="row">
    <div class="col-md-4">
      <div class="card-block">
        <%= image_tag @movie.image.url(:medium), class: "card-img-top img-fluid" %>
        <div class="table-inverse table-responsive">
          <table class="table">
            <tbody>
              <tr >
                <td><strong>Title:</strong></td>
                <td><%= @movie.title %></td>
              </tr>
              <tr >
                <td><strong>Description:</strong></td>
                <td><%= @movie.description %></td>
              </tr>
              <tr >
                <td>Movie length:</td>
                <td><%= @movie.movie_length %></td>
              </tr>
              <tr >
                <td>Director:</td>
                <td><%= @movie.director %></td>
              </tr>
              <tr >
                <td>Rating:</td>
                <td><%= @movie.rating %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card-block pl-0 pr-5">
        <h2>Lorem ipsum dolor sit amet</h2>
        <p class= "pl-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo eos, sint doloribus quos illum voluptates temporibus assumenda natus doloremque consectetur accusantium tempora nisi magni fugiat sed, vel, numquam sequi nesciunt fuga nostrum. Accusamus cum illum impedit minus maxime aliquam doloremque velit dolores commodi. Sit dicta, voluptate maiores cupiditate consequuntur alias provident sint sequi omnis, quod ab labore nesciunt? Minima facilis ratione eveniet, labore alias nam eaque, sequi placeat, non cumque amet ad. Modi a quod quam quos quia deleniti id, aliquam mollitia repellendus aliquid nam fugiat corporis molestias optio minus aspernatur fuga doloremque ipsam reiciendis illum rerum in autem ut aperiam. Eveniet maiores neque illo porro architecto cumque necessitatibus. Maiores dolorum officia impedit odit rem aut assumenda placeat provident deserunt eaque officiis accusantium, aliquam dolore excepturi illo id! Minus nam dolor, quidem id porro harum optio asperiores voluptatibus odit, soluta, accusamus hic ducimus ratione facere quae labore qui expedita tempora voluptas suscipit rerum necessitatibus esse! Dolor, accusantium nobis, maxime tempore excepturi itaque consequuntur ipsum, id quo ea eius et sint beatae dolorem eligendi sit at odio magnam nemo? Asperiores sunt itaque, consequatur obcaecati dicta illum ducimus alias blanditiis optio molestias esse ut voluptate labore nemo aut eius eos dolore quaerat nulla? Deserunt illum ducimus quo delectus facere excepturi obcaecati hic magnam neque sit ab omnis iste, quasi modi nemo et eveniet asperiores sapiente dolorem laborum maxime autem rerum necessitatibus? Veniam nisi voluptate libero distinctio quas atque esse delectus voluptatem optio. Iure totam impedit voluptate neque porro recusandae optio asperiores doloremque nostrum ipsam praesentium, tenetur incidunt molestias ad eius, architecto inventore ratione, quia et cum minus. Sequi corrupti aliquam non nam assumenda sint, vel illum quae obcaecati, consequatur laborum veniam, enim, esse id sunt neque. Consectetur tenetur impedit necessitatibus qui. Laudantium quisquam repellat alias vero recusandae rerum aspernatur fuga reiciendis expedita?</p>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>