<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'shared/rails_default' %>
    <%= render 'shared/shim' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <div class="container main_content">
      <%= render 'shared/flash' %>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
    <%= render 'shared/debugging_information' if Rails.env.development?%>
  </body>
</html>
<%= debug_page %>