!!!
%html
  %head
    %title Wikipedia
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    =render 'articles/alerts'
    .container-fluid
      .row
        = render 'articles/category_nav'
        .col-10
          = yield